body {
    font-family: "Atkinson hyperlegible";
    margin: 0;
    background-color: #A874D2;
}

.head {
    display: flex;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hamburger {
    padding: 8px;
    position: absolute;
    right: 0;
    margin-right: 25px;
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

h1{
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.goToShopDiv{
    position: relative;
}

.goToShopDiv img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.button_shop {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button_shop a{
    text-decoration: none;
    background-color: #2EBFA5;
    padding: 25px;
    color: #F8FFE5;
    border-radius: 50px;
    font-weight: bold;
    font-size: 2em;
}

h2{
    color: white;
    font-size: 3em;
    margin-top: 50px;
    padding-left: 25px;
}

.who p{
    padding-left: 25px;
    color: white;
    font-size: 2em;
    width: 60%;
    max-width: 100%;
}

.who{
    position: relative;
}

.who img{
    top: 65%;
    right: 0;
    position: absolute;
    width: 50%;
}