body {
    font-family: "Atkinson hyperlegible";
    margin: 0;
    background-color: #a874d2;
}

.head {
    display: flex;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-top: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.hamburger {
    padding: 8px;
    position: absolute;
    right: 0;
    margin-right: 25px;
    width: 32px;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

h1 {
    margin-bottom: 0;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.goToShopDiv {
    position: relative;
}

.goToShopDiv img {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.button_shop {
    display: flex;
    text-align: center;
    justify-content: center;
}

.button_shop a {
    text-decoration: none;
    background-color: #2ebfa5;
    padding: 25px;
    color: #f8ffe5;
    border-radius: 50px;
    font-weight: bold;
    font-size: 2em;
}

h2 {
    color: white;
    font-size: 3em;
    margin-top: 50px;
    padding-left: 25px;
}

.who p {
    padding-left: 25px;
    color: white;
    font-size: 2em;
    width: 60%;
    max-width: 100%;
}

.who {
    position: relative;
}

.who img {
    top: 65%;
    right: 0;
    position: absolute;
    width: 50%;
}

.what {
    display: flex;
    position: relative;
    min-height: 450px;
    margin-top: 125px;
}


.what p {
    position: absolute;
    top: 100px;
    right: 0;
    padding-right: 25px;
    color: white;
    font-size: 2em;
    width: 60%;
}

.what img {
    max-width: 70%;
    top: 60%;
    position: absolute;
    top: 170px;
}

.what h3 {
    position: absolute;
    right: 0;
    margin-top: 50px;
    padding-right: 25px;
    color: white;
    font-size: 3em;
}

.contact {
    position: relative;
}

.contact h4 {
    color: white;
    font-size: 3em;
    margin-top: 50px;
    padding-left: 25px;
    margin-bottom: 0;
}

.contact p {
    position: absolute;
    padding-left: 25px;
    color: white;
    font-size: 2em;
    width: 60%;
    max-width: 100%;
}

.contact img {
    position: absolute;
    right: 0;
    top: 200px;
}

.foot img {
    padding-bottom: 80px;
    margin-top: 300px;
    width: 100%;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: #9f78c9;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px 20px 0 0;
  box-shadow: 0 -4px 12px rgba(0, 0, 0, 0.15);
  z-index: 1000;
}

.bottom-nav a {
  flex: 1;
  text-align: center;
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  opacity: 0.8;
}


.bottom-nav a.active {
  color: #6ec6ad;
  opacity: 1;
  font-weight: 600;
}

main {
  padding-bottom: 90px;
}